// reescrbir variables de bootstrap
$rojo: #F34F51;
$verde: #0098AE;
$oscuro: #212121;
$gris: #b5b5b5;

// asignar colores
$primary: $rojo;
$secondary : $verde;
$dark : $oscuro;

$display-font-weight: 900;
$headings-font-weight: 700;

$card-border-color: transparent;

// $nav-link
$nav-link-padding-x:0;
$nav-link-color: $gris;
$nav-link-hover-color: darken($gris,10%);


// importar bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';